@media all and (max-width: 1760px) {
    .container {
        width: 1200px;
    }

    .program__block ul {
        justify-content: space-around;
        margin-top: 52px;
        flex-flow: wrap;
    }

    .program__block ul li:last-child {
        margin-top: 40px;
    }

    .header ul li {
        margin-right: 25px;
    }
}

@media all and (max-width: 1230px) {
    .container {
        width: 688px;
    }

    .header ul {
        display: none;
    }

    .header img {
        width: 156px;
    }

    .header .btn {
        display: none;
    }

    .humb {
        display: block;
        width: 47px;
        height: 44px;
        background: url("../img/humb.svg") center no-repeat;
        background-size: 91%;
        border: none;
    }

    h2 {
        font-size: 32px;
    }

    h2 span::before {
        background-size: 46%;
        background-repeat: no-repeat;
        background-position: 29px 18px;
    }
    .program__block ul li{
        width: 328px;
        height: 377px;
        padding-top: 117px;
    }
    .rotate_block h6,
    .rotate_block p{
        font-size: 16px;
    }
    .rotate_block h4{
        font-size: 24px;
    }
    .btn_1{
        width: 153px;
        height: 44px;
        font-size: 16px;
        margin-top: 20px;
    }
    .program__block ul li:last-child{
        margin-top: 25px;
    }
}

@media all and (max-width: 716px) {
    .container {
        width: 328px;
    }
    h2.mt87 {
        margin-top: 56px;
    }
    .program__block ul li{
        margin-bottom: 30px;
    }
}