*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.item > div{
    height: 300px;
    background-color: red;
}
.container{
    width: 1000px;
    margin: 0 auto;
}
.owl-theme .owl-nav{
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: -50px;
}
.owl-carousel .owl-nav button{
    width: 50px;
    height: 50px;
    
}
.owl-carousel .owl-nav button.owl-prev{
    background-color: blue;
    margin-left: -57px;
}
.owl-carousel .owl-nav button.owl-next{
    background-color: blue;
    margin-right: -57px;
}